@media only screen and (max-width:2670px){
    .five-container{
        width: 2560px;
        height: 989px;
        margin-top: 1px;
        background-color:#f6f8fa;
    }
    }
    @media only screen and  (max-width:1440px){
        .five-container{
           width: 1349px;
            height: 528px;
            margin-top:-26px ;
            background-color:#f6f8fa;
        }
        
    }
    
    @media only screen and (max-width:1024px){
        .five-container{
            width: 1026px;
            height: 468px;
            background-color:#f6f8fa;
         }
    }
    @media only screen and (max-width:768px){
        .five-container{
            width: 767px;
            height: 898px;
            background-color:#f6f8fa;
        }
    }
    @media only screen and (max-width:425px){
        .five-container{
           width: 425px;
            height: 919px;
            margin-top: -0px;
            background-color:#f6f8fa;
        }
    }
    @media only screen and (max-width:375px){
        .five-container{
            width: 399px;
            height: 936px;
            background-color:#f6f8fa;
       }
    }
    @media only screen and (max-width:2670px){
        .five-container > div{
            margin-left: 260px;
            padding-top: 76px;
        }  
        .five-container > div>  .wy{
        font-family: Heebo;
        font-weight: bold;
        font-size: 46px;
        line-height: 140%;
        text-transform: capitalize;
        color: #222222;
     } 
     .five-container > div>   .ev{
        font-family: Heebo;
        font-size: 38px;
        line-height: 130%;
        color: #555555;
        word-spacing: 3px;
        margin-top: -43px;
     }
      img.thirty{
          width: 870px;
          height: 558px;
          margin-top: -12px;
      }  
    img.thirtyone{
        width: 142px;
        height: 143px;
    }  
    .five-container > .one{
        margin-left: 1223px;
        margin-top: -704px;
    }
    .five-container > .one >div{
        margin-left: 172px;
        margin-top: -146px;
    }
    .five-container > .one > div .ha{
        font-family: Heebo;
        font-size: 38.8px;
        line-height: 140%;
        color: #11366F;
    }
    .five-container > .one > div .wh{
        font-family: Heebo;
        font-size: 32px;
        line-height: 150%;
        color: #555555;
        word-spacing: 4px;
        margin-top: -28px;
    }
    img.thirtytwo{
        width: 162px;
        height: 183px;
    }  
    .five-container > .two{
        margin-left: 1223px;
        margin-top: -78px;
    }
    .five-container > .two >div{
        margin-left: 168px;
        margin-top: -186px;
    }
    .five-container > .two > div .ha{
        font-family: Heebo;
        font-size: 38.8px;
        line-height: 140%;
        color: #11366F;
    }
    .five-container > .two > div .wh{
        font-family: Heebo;
        font-size: 32px;
        line-height: 150%;
        color: #555555;
        word-spacing: 4px;
        margin-top: -28px;
    }
    img.thirtythree{
        width: 162px;
        height: 183px;
    }  
    .five-container > .three{
        margin-left: 1223px;
        margin-top: -82px;
    }
    .five-container > .three >div{
        margin-left: 168px;
        margin-top: -186px;
    }
    .five-container > .three > div .ha{
        font-family: Heebo;
        font-size: 38.8px;
        line-height: 140%;
        color: #11366F;
    }
    .five-container > .three > div .wh{
        font-family: Heebo;
        font-size: 32px;
        line-height: 150%;
        color: #555555;
        word-spacing: 4px;
        margin-top: -28px;
    }  
        }
        @media only screen and  (max-width:1440px){
            .five-container > div{
                margin-left: 106px;
                padding-top: 36px;
            }  
            .five-container > div>  .wy{
            font-family: Heebo;
            font-weight: bold;
            font-size: 25px;
            line-height: 140%;
            text-transform: capitalize;
            color: #222222;
         } 
         .five-container > div>   .ev{
            font-family: Heebo;
            font-size: 20px;
            line-height: 130%;
            color: #555555;
            word-spacing: 2px;
            margin-top: -26px;
         }
          img.thirty{
              width: 476px;
              height: 340px;
              margin-top: -12px;
          }  
        img.thirtyone{
            width: 82px;
            height: 92px;
        }  
        .five-container > .one{
            margin-left: 616px;
            margin-top: -428px;
        }
        .five-container > .one >div{
            margin-left: 98px;
            margin-top: -99px;
        }
        .five-container > .one > div .ha{
            font-family: Heebo;
            font-size: 20.8px;
            line-height: 140%;
            color: #11366F;
        }
        .five-container > .one > div .wh{
            font-family: Heebo;
            font-size: 19px;
            line-height: 150%;
            color: #555555;
            word-spacing: 2px;
            margin-top: -13px;
        }
        img.thirtytwo{
            width: 80px;
            height: 90px;
        }
        .five-container > .two{
            margin-left: 616px;
            margin-top: -38px;
        }
        .five-container > .two >div{
            margin-left: 98px;
            margin-top: -99px;
        }
        .five-container > .two > div .ha{
            font-family: Heebo;
            font-size: 20.8px;
            line-height: 140%;
            color: #11366F;
        }
        .five-container > .two > div .wh{
            font-family: Heebo;
            font-size: 19px;
            line-height: 150%;
            color: #555555;
            word-spacing: 2px;
            margin-top: -13px;
        }
        img.thirtythree{
            width: 80px;
            height: 90px;
        }
        .five-container > .three{
            margin-left: 616px;
            margin-top: -38px;
        }
        .five-container > .three >div{
            margin-left: 98px;
            margin-top: -99px;
        }
        .five-container > .three > div .ha{
            font-family: Heebo;
            font-size: 20.8px;
            line-height: 140%;
            color: #11366F;
        }
        .five-container > .three > div .wh{
            font-family: Heebo;
            font-size: 19px;
            line-height: 150%;
            color: #555555;
            word-spacing: 2px;
            margin-top: -13px;
        }
        }
        
        @media only screen and (max-width:1024px){
            .five-container > div{
                margin-left: 70px;
                padding-top: 36px;
            }  
            .five-container > div>  .wy{
            font-family: Heebo;
            font-weight: bold;
            font-size: 23px;
            line-height: 140%;
            text-transform: capitalize;
            color: #222222;
         } 
         .five-container > div>   .ev{
            font-family: Heebo;
            font-size: 18px;
            line-height: 130%;
            color: #555555;
            word-spacing: 2px;
            margin-top: -26px;
         }
          img.thirty{
              width: 398px;
              height: 300px;
              margin-left: -12px;
              margin-top: -12px;
          }  
        img.thirtyone{
            width: 74px;
            height: 84px;
        }  
        .five-container > .one{
            margin-left: 460px;
            margin-top: -394px;
        }
        .five-container > .one >div{
            margin-left: 70px;
            margin-top: -86px;
        }
        .five-container > .one > div .ha{
            font-family: Heebo;
            font-size: 20.8px;
            line-height: 140%;
            color: #11366F;
        }
        .five-container > .one > div .wh{
            width: 483px;
            font-family: Heebo;
            font-size: 16px;
            line-height: 150%;
            color: #555555;
            margin-top: -13px;
        }
        img.thirtytwo{
            width: 70px;
            height: 80px;
        }  
        .five-container > .two{
            margin-left: 460px;
            margin-top: -42px;
        }
        .five-container > .two >div{
            margin-left: 70px;
            margin-top: -86px;
        }
        .five-container > .two > div .ha{
            font-family: Heebo;
            font-size: 20.8px;
            line-height: 140%;
            color: #11366F;
        }
        .five-container > .two > div .wh{
            width: 483px;
            font-family: Heebo;
            font-size: 16px;
            line-height: 150%;
            color: #555555;
            margin-top: -13px;
        }
        img.thirtythree{
            width: 70px;
            height: 80px;
        }  
        .five-container > .three{
            margin-left: 460px;
            margin-top: -42px;
        }
        .five-container > .three >div{
            margin-left: 70px;
            margin-top: -86px;
        }
        .five-container > .three > div .ha{
            font-family: Heebo;
            font-size: 20.8px;
            line-height: 140%;
            color: #11366F;
        }
        .five-container > .three > div .wh{
            width: 493px;
            font-family: Heebo;
            font-size: 16px;
            line-height: 150%;
            color: #555555;
            margin-top: -13px;
        }  
        }
        @media only screen and (max-width:768px){
            .five-container > div{
                margin-left: 42px;
                padding-top: 16px;
            }  
            .five-container > div>  .wy{
            font-family: Heebo;
            font-weight: bold;
            font-size: 23px;
            line-height: 140%;
            text-transform: capitalize;
            color: #222222;
         } 
         .five-container > div>   .ev{
            font-family: Heebo;
            font-size: 18px;
            line-height: 130%;
            color: #555555;
            word-spacing: 2px;
            margin-top: -26px;
         }
          img.thirty{
              width: 638px;
              height: 370px;
              margin-left: 18px;
              margin-top: -24px;
          }  
        img.thirtyone{
            width: 74px;
            height: 84px;
        }  
        .five-container > .one{
            margin-left: 42px;
            margin-top: 2px;
        }
        .five-container > .one >div{
            margin-left: 82px;
            margin-top: -88px;
        }
        .five-container > .one > div .ha{
            font-family: Heebo;
            font-size: 20.8px;
            line-height: 140%;
            color: #11366F;
        }
        .five-container > .one > div .wh{
            width: 523px;
            font-family: Heebo;
            font-size: 17px;
            line-height: 150%;
            color: #555555;
            word-spacing: 2px;
            margin-top: -14px;
        }
        img.thirtytwo{
            width: 70px;
            height: 80px;
        }  
        .five-container > .two{
            margin-left: 42px;
            margin-top: -12px;
        }
        .five-container > .two >div{
            margin-left: 82px;
            margin-top: -88px;
        }
        .five-container > .two > div .ha{
            font-family: Heebo;
            font-size: 20.8px;
            line-height: 140%;
            color: #11366F;
        }
        .five-container > .two > div .wh{
            width: 523px;
            font-family: Heebo;
            font-size: 17px;
            line-height: 150%;
            color: #555555;
            word-spacing: 2px;
            margin-top: -14px;
        }
        img.thirtythree{
            width: 70px;
            height: 80px;
        }  
        .five-container > .three{
            margin-left: 42px;
            margin-top: -16px;
        }
        .five-container > .three >div{
            margin-left: 82px;
            margin-top: -84px;
        }
        .five-container > .three > div .ha{
            font-family: Heebo;
            font-size: 20.8px;
            line-height: 140%;
            color: #11366F;
        }
        .five-container > .three > div .wh{
            width: 523px;
            font-family: Heebo;
            font-size: 17px;
            line-height: 150%;
            color: #555555;
            word-spacing: 2px;
            margin-top: -14px;
        }   
        }
        @media only screen and (max-width:425px){
            .five-container > div{
                margin-left: 28px;
                padding-top: 15px;
            }  
            .five-container > div>  .wy{
            font-family: Heebo;
            font-weight: bold;
            font-size: 21px;
            line-height: 140%;
            text-transform: capitalize;
            color: #222222;
         } 
         .five-container > div>   .ev{
            font-family: Heebo;
            font-size: 17px;
            line-height: 130%;
            color: #555555;
            word-spacing: 3px;
            margin-top: -22px;
         }
          img.thirty{
              width: 384px;
              height: 272px;
              margin-left: -9px;
              margin-top: -16px;
          }  
        img.thirtyone{
            width: 74px;
            height: 84px;
        }  
        .five-container > .one{
            margin-left: 18px;
            margin-top: 0px;
        }
        .five-container > .one >div{
            margin-left: 80px;
            margin-top: -92px;
        }
        .five-container > .one > div .ha{
            font-family: Heebo;
            font-size: 20.8px;
            line-height: 140%;
            color: #11366F;
        }
        .five-container > .one > div .wh{
            width: 323px;
            font-family: Heebo;
            font-size: 17px;
            line-height: 150%;
            color: #555555;
            margin-top: -14px;
        }
        img.thirtytwo{
            width: 70px;
            height: 80px;
        }  
        .five-container > .two{
            margin-left: 18px;
            margin-top: -22px;
        }
        .five-container > .two >div{
            margin-left: 80px;
            margin-top: -92px;
        }
        .five-container > .two > div .ha{
            font-family: Heebo;
            font-size: 20.8px;
            line-height: 140%;
            color: #11366F;
        }
        .five-container > .two > div .wh{
            width: 343px;
            font-family: Heebo;
            font-size: 17px;
            line-height: 150%;
            color: #555555;
            margin-top: -14px;
        }
        img.thirtythree{
            width: 70px;
            height: 80px;
        }  
        .five-container > .three{
            margin-left: 18px;
            margin-top: -22px;
        }
        .five-container > .three >div{
            margin-left: 80px;
            margin-top: -92px;
        }
        .five-container > .three > div .ha{
            font-family: Heebo;
            font-size: 20.8px;
            line-height: 140%;
            color: #11366F;
        }
        .five-container > .three > div .wh{
            width: 343px;
            font-family: Heebo;
            font-size: 17px;
            line-height: 150%;
            color: #555555;
            margin-top: -14px;
        }    
        }
        @media only screen and (max-width:375px){
            .five-container > div{
                margin-left: 20px;
                padding-top: 15px;
            }  
            .five-container > div>  .wy{
            font-family: Heebo;
            font-weight: bold;
            font-size: 21px;
            line-height: 140%;
            text-transform: capitalize;
            color: #222222;
         } 
         .five-container > div>   .ev{
            font-family: Heebo;
            font-size: 17px;
            line-height: 130%;
            color: #555555;
            word-spacing: 3px;
            margin-top: -22px;
         }
          img.thirty{
              width: 380px;
              height: 268px;
              margin-left: -9px;
              margin-top: -16px;
          }  
        img.thirtyone{
            width: 76px;
            height: 84px;
        }  
        .five-container > .one{
            margin-left: 18px;
            margin-top: 0px;
        }
        .five-container > .one >div{
            margin-left: 83px;
            margin-top: -88px;
        }
        .five-container > .one > div .ha{
            font-family: Heebo;
            font-size: 20px;
            line-height: 140%;
            color: #11366F;
        }
        .five-container > .one > div .wh{
            width: 283px;
            font-family: Heebo;
            font-size: 17px;
            line-height: 150%;
            color: #555555;
            margin-top: -14px;
        }
        img.thirtytwo{
            width: 68px;
            height: 78px;
        }  
        .five-container > .two{
            margin-left: 14px;
            margin-top: -22px;
        }
        .five-container > .two >div{
            margin-left: 84px;
            margin-top: -92px;
        }
        .five-container > .two > div .ha{
            font-family: Heebo;
            font-size: 20.8px;
            line-height: 140%;
            color: #11366F;
        }
        .five-container > .two > div .wh{
            width: 283px;
            font-family: Heebo;
            font-size: 17px;
            line-height: 150%;
            color: #555555;
            margin-top: -14px;
        }
        img.thirtythree{
            width: 68px;
            height: 78px;
        }  
        .five-container > .three{
            margin-left: 14px;
            margin-top: -22px;
        }
        .five-container > .three >div{
            margin-left: 84px;
            margin-top: -92px;
        }
        .five-container > .three > div .ha{
            font-family: Heebo;
            font-size: 20.8px;
            line-height: 140%;
            color: #11366F;
        }
        .five-container > .three > div .wh{
            width: 283px;
            font-family: Heebo;
            font-size: 17px;
            line-height: 150%;
            color: #555555;
            margin-top: -14px;
        }   
        }
     